.cardSection {
  margin: 0 auto 100px;
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 345px);
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  box-sizing: border-box;

  @media screen and (max-width: 1200px) {
    max-width: 940px;
    margin:  0 auto 80px;
  }

  @media screen and (max-width: 992px) {
    margin: 0 auto 60px;
    grid-template-columns: repeat(2, minmax(345px, 1fr));
  }
  
}

