.coloredSection {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  padding: 126px calc((100% - 1140px)/2);
  margin-bottom: 100px;
  box-sizing: border-box;
  justify-content: space-between;
  gap:125px
}

.coloredSectionTextSection {
  display: flex;
  flex-direction: column;
}

.coloredSectionTitle {
  color: var(--light-blue);
  font-size: 62px;
  line-height: 68px;
  margin-bottom: 22px;
  letter-spacing: 1.4px;
}

.coloredSectionDescription {
  color: white;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 40px;
}

.coloredSectionImage {
  background: url('../../assets/images/marian-kroell-2.jpg') no-repeat center;
  object-fit: cover;
  min-width: 458px;
  max-height: 380px;
  object-position: top left;
}


.coloredSectionButtons{
  display: flex;
  flex-direction: row;
  gap: 16px;
}

