.coloredSection {
  background-color: black;
  display: flex;
  flex-direction: row;
  padding: 100px 25px;
  margin-bottom: 100px;
  box-sizing: border-box;
  justify-content: center;
  gap: 125px;
  margin-left: -25px;
  margin-right: -25px;
}

.coloredSectionTextSection {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  max-width: 555px;
}

.coloredSectionTitle {
  color: var(--light-blue);
  font-size: 62px;
  line-height: 68px;
  margin: 0;
  margin-bottom: 22px;
  letter-spacing: 1.4px;
}

.coloredSectionDescription {
  color: white;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 40px;
}

.coloredSectionImage {
  background: url('../../assets/images/marian-kroell-2.jpg') no-repeat center;
  object-fit: cover;
  width: 458px;
  height: 380px;
  object-position: top left;
}


.coloredSectionButtons{
  display: flex;
  flex-direction: row;
  gap: 16px;
  max-width: 333px;
  max-height: 40px;
}

@media screen and (max-width:1199px) {

  .coloredSection {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 80px;
    justify-content: center;
    gap: 30px;
  }

  .coloredSectionTextSection{
    max-width: 455px;
    margin-top: 23px;
  }

  .coloredSectionTitle {
    font-size: 54px;
    line-height: 60px;
    letter-spacing: 1.2px;
  }

  .coloredSectionDescription {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1.2px;
    margin-bottom: 28px;

  }

  .coloredSectionImage {
    width: 455px;
    height: 332px;
  }

  .coloredSectionButtons{
    max-width: 316px;

  }
}

@media screen and (max-width:991px) {
  .coloredSection {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 47px 86px 68px;
    margin-bottom: 58px;
    gap: 39px;
  }

  .coloredSectionTextSection {
    display: flex;
    flex-direction: column;
    align-items: center ;
    max-width: 595px;
  }

  .coloredSectionButtons {
    justify-content: center;
    align-items: center;
  }

  .coloredSectionTextSection{
    max-width: 600px;
    margin-top: 23px;
  }

  .coloredSectionTitle {
    font-size: 46px;
    line-height: 48px;
    letter-spacing: 1px;
    max-width: 600px;
    margin-bottom: 14px;
  }

  .coloredSectionDescription {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px;
    margin-top: 0;

}
  .coloredSectionImage {
    width: 596px;
    height: 368px;
  }
}

@media screen and (max-width: 767px) {
  .coloredSection {
    padding: 37px 63px 62px;
    margin-bottom: 50px;
  }

  .coloredSectionImage {
    width: 455px;
    height: 275px;
  }
}

@media screen and (max-width: 575px) {
  .coloredSection {
    padding: 28px 25px 50px;
    min-width: 320px;
    max-height: 656px;
    justify-content: flex-start;
  }

  .coloredSectionTextSection{
    width: 100%;
  }

  .coloredSectionDescription
  {
    margin-bottom: 53px;
  }
  .coloredSectionButtons {
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
  }

  .coloredSectionImage {
    width: 290px;
    height: 146px;
  }
}