.coloredSection {
  background-color: black;
  display: flex;
  flex-direction: row;
  padding: 100px 25px;
  margin-bottom: 100px;
  box-sizing: border-box;
  justify-content: center;
  gap:125px;
  margin-left: -25px;
  margin-right: -25px;
}

.coloredSectionTextSection {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  max-width: 555px;
}

.coloredSectionTitle {
  color: var(--light-blue);
  font-size: 62px;
  line-height: 68px;
  margin: 0;
  letter-spacing: 1.4px;
}

.coloredSectionDescription {
  color: white;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 40px;
}

.coloredSectionImage {
  background: url('../../assets/images/marian-kroell-2.jpg') no-repeat center;
  object-fit: cover;
  min-width: 458px;
  max-height: 380px;
  object-position: top left;
}


.coloredSectionButtons{
  display: flex;
  flex-direction: row;
  gap: 16px;
}

