.button {
  padding: 10px 32px;
  border: none;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  width: 160px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.8px;
}


.buttonColorLightblue {
  background: var(--light-blue);
}

.buttonColorDarkblue {
  background: var(--dark-blue);
}

.btnColorBlack {
  background-color: var(--black);
  border: 2px solid var(--light-blue);
}
