.button {
  padding: 6px;
  border: none;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  width: 160px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-align: center;
  outline: none;
  border: 2px solid var(--light-blue);
}

.buttonColorLightblue {
  background: var(--light-blue);
}

.buttonColorDarkblue {
  background: var(--dark-blue);
}

.btnColorBlack {
  background-color: var(--black);
}

@media screen and (max-width: 991px) {
  .button {
    width: 140px;
  }
}

.button_xl {
  width: 100%;
}
