.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  padding: 30px;
  border: 1px solid #d3d8e4;
}

.cardImg {
  min-width: 100%;
  object-fit: cover;
  max-height: 170px;
  margin-bottom: 20px;
}

.cardAuthor {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 5px;
  letter-spacing: 0.8px;
  display: inline-block;
}

.cardAuthorColorDarkblue {
  color: var(--dark-blue);
}

.cardAuthorColorLightblue {
  color: var(--light-blue);
}

.cardTitle {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  margin: 0 0 16px 0;
  letter-spacing: 1.2px;
}

.cardDescription {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.8px;
  max-height: 78px;
  margin: 0;
}

.cardCategoriesSticker {
  position: absolute;
  top: 12px;
  left: -1px;
  padding: 7px 15px;
  color: white;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 1.2000000476837158px;
  text-align: center;
}

.cardCategoriesStickerColorlightblue {
  background-color: var(--light-blue);
}

.cardCategoriesStickerColorDarkblue {
  background-color: var(--dark-blue);
}

.wrapper {
  box-sizing: border-box;
}

@media screen and (max-width: 1199px) {
  .cardTitle {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1.2px;
  }

  .card {
    height: 470px;
  }
}

@media screen and (max-width: 991px) {
  .card {
    height: 440px;
    padding: 28px;
  }

  .cardCategoriesSticker {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
  }

  .cardAuthor {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.8px;
  }

  .cardTitle {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1px;
    margin: 0 0 12px 0;
  }

  .cardDescription {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.6px;
  }

  .cardImg {
    max-height: 150px;
    margin-bottom: 13px;
  }
}

@media screen and (max-width: 767px) {
  .cardCategoriesSticker {
    top: -1px;
  }

  .card {
    height: 448px;
    padding: 16px;
  }

  .cardImg {
    max-height: 140px;
    margin-bottom: 7px;
  }
}


@media screen and (max-width: 575px) {
  
}