.header {
  width: 100%;
  position: relative;
  color: white;
  min-height: 396px ;
  background: url('../../assets/images/marian-kroell.jpg') no-repeat left;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header_title {
  max-width: 750px;
  font-size: 62px;
  text-align: center;
  z-index: 1;
  position: relative;
}

.header:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: #000;
  opacity: 0.6;
}