.header {
  width: 100%;
  padding-top: 80px;
  box-sizing: border-box;
  position: relative;
  color: white;
  min-height: 396px ;
  background: url('../../assets/images/marian-kroell.jpg') no-repeat left;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 100px;
}


.header_title {
  max-width: 750px;
  font-size: 62px;
  line-height: 68px;
  text-align: center;
  z-index: 1;
  position: relative;
  letter-spacing: 1.4px;
}

.header:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: #000;
  opacity: 0.6;
}

@media screen and (max-width:1199px) {
  .header {
    min-height: 340px;
    padding-top: 65px;
    margin-bottom: 80px;
  }
  .header_title {
    font-size: 54px;
    line-height: 60px;
    letter-spacing: 1.2px;
  }
}

@media screen and (max-width:991px) {
  .header {
    min-height: 276px;
    padding-top: 48px;
    margin-bottom: 36px;
  }

  .header_title {
    font-size: 46px;
    line-height: 48px;
    letter-spacing: 1px;
    max-width: 478px;

  }
}