.sliderSection {
  margin: 0 auto 80px ;;
  max-width: 1140px;
}

.sliderNav {
  display: flex;
  gap: 25px;
  margin-top: 40px;
  align-items: center;

}

.sliderNavBtn {
  width: 13px;
  height: 26px;
  background: url('../../assets/images/slider-control.svg') ;
  background-size: contain;
  cursor: pointer;
}

.sliderNavBtnModeNext{
  transform: rotate(180deg);
}


@media screen and (max-width: 991px) {
    .sliderNav {
      margin-top: 31px;
    }

    .sliderSection {
      margin-bottom: 36px;
    }
}


@media screen and (max-width: 767px) {
  .sliderNav {
    margin-top: 20px;
    gap: 18px;
  }

  .sliderNavBtn {
    width: 11px;
    height: 22px;
  }
}

@media screen and (max-width: 575px) {
  .sliderNav {
    justify-content: center;
}
}