.sliderSection {
  margin: 0 auto 80px ;;
  max-width: 1140px;
}

.sliderNav {
  display: flex;
  gap: 25px;
  margin-top: 40px;

}

.sliderNavBtn {
  width: 13px;
  height: 26px;
  background: url('../../assets/images/slider-control.svg');
  cursor: pointer;
}

.sliderNavBtnModeNext{
  transform: rotate(180deg);
}


@media screen and (max-width: 991px) {
    .sliderNav {
      margin-top: 31px;
    }

    .sliderSection {
      margin-bottom: 60px;
    }
}

